.positions__a1 {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.positions__b1 {
    position: absolute;
    bottom: 5px;
    left: 55px;
}

.positions__c1 {
    position: absolute;
    bottom: 5px;
    left: 105px;
}

.positions__d1 {
    position: absolute;
    bottom: 5px;
    left: 155px;
}

.positions__e1 {
    position: absolute;
    bottom: 5px;
    left: 205px;
}

.positions__f1 {
    position: absolute;
    bottom: 5px;
    left: 255px;
}

.positions__g1 {
    position: absolute;
    bottom: 5px;
    left: 305px;
}

.positions__h1 {
    position: absolute;
    bottom: 5px;
    left: 355px;
}

.positions__a2 {
    position: absolute;
    bottom: 55px;
    left: 5px;
}

.positions__b2 {
    position: absolute;
    bottom: 55px;
    left: 55px;
}

.positions__c2 {
    position: absolute;
    bottom: 55px;
    left: 105px;
}

.positions__d2 {
    position: absolute;
    bottom: 55px;
    left: 155px;
}

.positions__e2 {
    position: absolute;
    bottom: 55px;
    left: 205px;
}

.positions__f2 {
    position: absolute;
    bottom: 55px;
    left: 255px;
}

.positions__g2 {
    position: absolute;
    bottom: 55px;
    left: 305px;
}

.positions__h2 {
    position: absolute;
    bottom: 55px;
    left: 355px;
}

.positions__a3 {
    position: absolute;
    bottom: 105px;
    left: 5px;
}

.positions__b3 {
    position: absolute;
    bottom: 105px;
    left: 55px;
}

.positions__c3 {
    position: absolute;
    bottom: 105px;
    left: 105px;
}

.positions__d3 {
    position: absolute;
    bottom: 105px;
    left: 155px;
}

.positions__e3 {
    position: absolute;
    bottom: 105px;
    left: 205px;
}

.positions__f3 {
    position: absolute;
    bottom: 105px;
    left: 255px;
}

.positions__g3 {
    position: absolute;
    bottom: 105px;
    left: 305px;
}

.positions__h3 {
    position: absolute;
    bottom: 105px;
    left: 355px;
}

.positions__a4 {
    position: absolute;
    bottom: 155px;
    left: 5px;
}

.positions__b4 {
    position: absolute;
    bottom: 155px;
    left: 55px;
}

.positions__c4 {
    position: absolute;
    bottom: 155px;
    left: 105px;
}

.positions__d4 {
    position: absolute;
    bottom: 155px;
    left: 155px;
}

.positions__e4 {
    position: absolute;
    bottom: 155px;
    left: 205px;
}

.positions__f4 {
    position: absolute;
    bottom: 155px;
    left: 255px;
}

.positions__g4 {
    position: absolute;
    bottom: 155px;
    left: 305px;
}

.positions__h4 {
    position: absolute;
    bottom: 155px;
    left: 355px;
}

.positions__a5 {
    position: absolute;
    bottom: 205px;
    left: 5px;
}

.positions__b5 {
    position: absolute;
    bottom: 205px;
    left: 55px;
}

.positions__c5 {
    position: absolute;
    bottom: 205px;
    left: 105px;
}

.positions__d5 {
    position: absolute;
    bottom: 205px;
    left: 155px;
}

.positions__e5 {
    position: absolute;
    bottom: 205px;
    left: 205px;
}

.positions__f5 {
    position: absolute;
    bottom: 205px;
    left: 255px;
}

.positions__g5 {
    position: absolute;
    bottom: 205px;
    left: 305px;
}

.positions__h5 {
    position: absolute;
    bottom: 205px;
    left: 355px;
}

.positions__a6 {
    position: absolute;
    bottom: 255px;
    left: 5px;
}

.positions__b6 {
    position: absolute;
    bottom: 255px;
    left: 55px;
}

.positions__c6 {
    position: absolute;
    bottom: 255px;
    left: 105px;
}

.positions__d6 {
    position: absolute;
    bottom: 255px;
    left: 155px;
}

.positions__e6 {
    position: absolute;
    bottom: 255px;
    left: 205px;
}

.positions__f6 {
    position: absolute;
    bottom: 255px;
    left: 255px;
}

.positions__g6 {
    position: absolute;
    bottom: 255px;
    left: 305px;
}

.positions__h6 {
    position: absolute;
    bottom: 255px;
    left: 355px;
}

.positions__a7 {
    position: absolute;
    bottom: 305px;
    left: 5px;
}

.positions__b7 {
    position: absolute;
    bottom: 305px;
    left: 55px;
}

.positions__c7 {
    position: absolute;
    bottom: 305px;
    left: 105px;
}

.positions__d7 {
    position: absolute;
    bottom: 305px;
    left: 155px;
}

.positions__e7 {
    position: absolute;
    bottom: 305px;
    left: 205px;
}

.positions__f7 {
    position: absolute;
    bottom: 305px;
    left: 255px;
}

.positions__g7 {
    position: absolute;
    bottom: 305px;
    left: 305px;
}

.positions__h7 {
    position: absolute;
    bottom: 305px;
    left: 355px;
}

.positions__a8 {
    position: absolute;
    bottom: 355px;
    left: 5px;
}

.positions__b8 {
    position: absolute;
    bottom: 355px;
    left: 55px;
}

.positions__c8 {
    position: absolute;
    bottom: 355px;
    left: 105px;
}

.positions__d8 {
    position: absolute;
    bottom: 355px;
    left: 155px;
}

.positions__e8 {
    position: absolute;
    bottom: 355px;
    left: 205px;
}

.positions__f8 {
    position: absolute;
    bottom: 355px;
    left: 255px;
}

.positions__g8 {
    position: absolute;
    bottom: 355px;
    left: 305px;
}

.positions__h8 {
    position: absolute;
    bottom: 355px;
    left: 355px;
}

.positions__dead {
    display: none;
}

.positions__jail {
    background-color: grey;
    padding: 5px;
}

